# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. sklearn
4. scikit
5. ggplot
6. lattice
7. matplotlib

|Data Science Tools||
|-|----------------|
|1|Jupyter Notebook|
|2|RStudio|
|3|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
m = 200 
h = m/60
h

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- List popular development environment open-source tools for Data Science
- Give examples of evaluating arithmetic expressions in Python

## Author 
Thao Luong